
/* Font Definitions */
@font-face {
    font-family: 'Aclonica';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/aclonica-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/aclonica-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: 'Alatsi';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/alatsi-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/alatsi-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: 'Allura';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/allura-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/allura-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: 'Festive';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/festive-v7-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/festive-v7-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: 'Fjalla One';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/fjalla-one-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/fjalla-one-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  @font-face {
    font-family: 'Fontdiner Swanky';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('fonts/fontdiner-swanky-v19-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('fonts/fontdiner-swanky-v19-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
  
  /* Global Styles */
  * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-image: url(Images/Fondo_Negro_9.png);
    margin-top: 1%;
    align-items: center;
    text-align: center;
    background-size: cover; /* Ajusta la imagen para que cubra todo el fondo */
    background-repeat: repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en el fondo */
    overflow-y: auto; /* Permite el desplazamiento vertical */
  }
  
  .contenedor {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Header Styles */
  header {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
  }
  
  header ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 60%;
    padding-right: 20px;
  }
  
  header .logo {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px;
  }
  
  header ul li a {
    font-size: 30px;
    padding: 8px 20px;
    margin: 0 6px;
    color: gold;
    font-family: 'Alatsi';
    letter-spacing: 0.3px;
    border-radius: 5px;
  }
  
  header ul li a:hover {
    color: white;
    background-color: gold;
    color: black;
    border-radius: 13px;
    transition: all 0.5s ease-in-out;
  }
  
  header .logo h1 {
    font-size: 45px;
    color: gold;
    font-family: 'Fjalla One';
  }
  
  header .logo h1 span {
    font-size: 25px;
    color: gold;
    font-family: 'Fjalla One';
  }
  
  header .logo img {
    width: 60px;
    margin-right: -7px;
  }
  
  .contenido {
    font-family: monospace;
    width: 75%;
    margin: auto;
    min-height: 10vh;
    border-radius: 20px;
    color: rgb(255, 255, 255);
  }
  
  .contenido img:hover {
    color: white;
    background-color: rgb(59, 59, 59);
    color: black;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
  }
  
  .orden {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(3, 4fr);
    margin-top: 3em;
    align-items: center;
  }
  
  .main {
    display: contents;
    justify-content: space-around;
    align-items: center;
  }
  
  .contenido img {
    width: 300px;
    height: 300px;
  }
  
  h1 {
    text-align: center;
    color: gold;
    font-size: 35px;
    font-family: 'Fjalla One';
  }
  
  .contenido p {
    color: rgb(255, 255, 255);
    border: 10x;
    border-color: blueviolet;
    font-family: "Chivo Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 22px;
  }
  
  .contenido h2 {
    font-family: "Chivo Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 35px;
  }
  
  .main h1 {
    width: 100%;
    height: 1px;
    margin-top: -10px;
  }
  
  /* Media Queries */
  @media (max-width: 768px) {
    header ul {
      padding-right: 20px;
    }
    
    header .logo {
      padding-left: 20px;
    }
    
    .contenido {
      width: 90%;
    }
    
    .orden {
      grid-template-columns: repeat(2, 1fr);
    }
    
    .contenido img {
      width: 200px;
      height: 200px;
    }
    
    h1 {
      font-size: 30px;
    }
    
    .contenido p, .contenido h2 {
      font-size: 18px;
    }
  }
  
  @media (max-width: 480px) {
    header ul {
      padding-right: 10px;
    }
    
    header .logo {
      padding-left: 10px;
    }
    
    .contenido {
      width: 95%;
    }
    
    .orden {
      grid-template-columns: 1fr;
    }
    
    .contenido img {
      width: 150px;
      height: 150px;
    }
    
    h1 {
      font-size: 25px;
    }
    
    .contenido p, .contenido h2 {
      font-size: 16px;
    }
  }